@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400;1,900&family=Roboto:wght@300;400&display=swap');

// Color Scheme

$white: #fff;
$platinum: #e6e7e7;
$lightgray: #d1d1d1;
$fuzzy: #e56353;
$rudy-pink: #d76c69;
$spanish-pink: #ecbcba;
$serie-black: #121619;
$raisin-black: #222323;
$niquel: #6c6e70;

// Button size

$medium-button: 200px;
$small-button: 100px;



