.final {
    background-color: $serie-black;
}

.final_logo {
    text-align: center;
    width: 10%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
