header {
    margin: 0;
    padding: 0;
    font-family: $primary-font
}

.encabezado {
    position: relative;
}

.main_container {
    background: url("../images/post-image.jpg") no-repeat;
    background-size: cover;
    background-size: 100%;
    min-height: 800px;
    margin: auto;
}

.main_container_titulo {
    font-family: $primary-font;
    color: $white;
    font-weight: $black;
    font-size: $xx-l;
    margin: 100px auto;
    font-style: italic;
    text-align: center;
    
}

.fa-angle-double-down {
    position: absolute;
    left: 50%;
    top: 75%;
    color: $white;
    font-size: 60px;
}


.encabezado {

    @media only screen and (max-width: 600px) {
        .main_container {
            min-height: 0;
        }

        .fa-angle-double-down {
            bottom: 30%;
            font-size: 20px;
        }
    }

    @media only screen and (max-width: 600px) {
        .main_container_titulo {
            font-size: 30px;
            min-height: 0;
        }

        .fa-angle-double-down {
            position: absolute;
            left: 50%;
            top: 85%;
            color: $white;
            font-size: 30px;
        }
    }

        @media only screen and (min-width: 600px) {
        .main_container_titulo {
            font-size: 40px;
            min-height: 0;
        }

        .fa-angle-double-down {
            position: absolute;
            left: 50%;
            top: 45%;
            color: $white;
            font-size: 40px;
        }
    }

    @media only screen and (min-width: 768px) {
        .main_container_titulo {
            font-size: 50px;
        }

        .fa-angle-double-down {
            position: absolute;
            left: 50%;
            top: 55%;
            color: $white;
            font-size: 50px;
        }
    }

    @media only screen and (min-width: 992px) {
        .main_container_titulo {
            font-size: 60px;
            min-height: 0;
        }

        .fa-angle-double-down {
            left: 50%;
            top: 75%;
            color: $white;
            font-size: 60px;
        }
    }

    @media only screen and (min-width: 1200px) {
        .main_container_titulo {
            font-size: 70px;
            min-height: 0;
        }
    }
}