.autor {
    display: flex;
    align-items: center;
    justify-content: center;

    &_img {
        border-radius: 50%;
        align-items: flex-start;
        width: auto;
    }

    &_name {
        font-family: $primary-font;
        font-weight: $black;
        color: $serie-black;
        font-style: italic;
        align-items: center;
        vertical-align: middle;
    }

    &_rrss {
        font-family: $secondary-font;
        font-size: $l;
        color: $spanish-pink;
        margin-top: 20px;
        align-items: left;
        vertical-align: left;
        margin-bottom: -4px;
    }

    &_web {
        font-family: $secondary-font;
        font-size: $l;
        color: $spanish-pink;
        align-items: left;
        vertical-align: left;
    }

    &_text {
        align-items: flex-end;
        color: $lightgray;
        line-height: 30px;
    }
}

.articulo {

    &_titulo {
        font-family: $primary-font;
        font-weight: $regular;
        font-size: $medium;
        color: $lightgray;
        margin: 40px 0 40px 8px;
    }

    &_parrafo {
        margin-bottom: 10px;
        padding: 10px;
        text-align: justify;
        color: $lightgray;
    }

    &_destacado {
        color: $fuzzy;
    }
}




.author {

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        display: flex;
        height: 400px;

        &__img {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            margin: 0 auto;
        }

        &__name {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__rrss {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__web {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__text {
            display: none;
        }
    }
}


.author {

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (min-width: 600px) {
        display: flex;
        height: 400px;

        &__img {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20%;
            margin: 0 auto;
        }

        &__name {
            flex: 1;
            display: flex;
            align-items: left;
            justify-content: left;
        }

        &__rrss {
            flex: 1;
            display: flex;
            align-items: left;
            justify-content: left;
        }

        &__web {
            flex: 1;
            display: flex;
            align-items: left;
            justify-content: left;
        }
    }
}




/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .main__container__titulo {
        font-size: 30px;
    }

    .author__img {
        width: auto;
    }
}