@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400;1,900&family=Roboto:wght@300;400&display=swap");
body {
  margin: 0;
}

body {
  background-color: #fff;
  margin: 0;
}

.autor {
  display: flex;
  align-items: center;
  justify-content: center;
}
.autor_img {
  border-radius: 50%;
  align-items: flex-start;
  width: auto;
}
.autor_name {
  font-family: "Playfair Display", italic;
  font-weight: 900;
  color: #121619;
  font-style: italic;
  align-items: center;
  vertical-align: middle;
}
.autor_rrss {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #ecbcba;
  margin-top: 20px;
  align-items: left;
  vertical-align: left;
  margin-bottom: -4px;
}
.autor_web {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #ecbcba;
  align-items: left;
  vertical-align: left;
}
.autor_text {
  align-items: flex-end;
  color: #d1d1d1;
  line-height: 30px;
}

.articulo_titulo {
  font-family: "Playfair Display", italic;
  font-weight: 400;
  font-size: 300;
  color: #d1d1d1;
  margin: 40px 0 40px 8px;
}
.articulo_parrafo {
  margin-bottom: 10px;
  padding: 10px;
  text-align: justify;
  color: #d1d1d1;
}
.articulo_destacado {
  color: #e56353;
}

.author {
  /* Extra small devices (phones, 600px and down) */
}
@media only screen and (max-width: 600px) {
  .author {
    display: flex;
    height: 400px;
  }
  .author__img {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
  }
  .author__name {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .author__rrss {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .author__web {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .author__text {
    display: none;
  }
}

.author {
  /* Extra small devices (phones, 600px and down) */
}
@media only screen and (min-width: 600px) {
  .author {
    display: flex;
    height: 400px;
  }
  .author__img {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin: 0 auto;
  }
  .author__name {
    flex: 1;
    display: flex;
    align-items: left;
    justify-content: left;
  }
  .author__rrss {
    flex: 1;
    display: flex;
    align-items: left;
    justify-content: left;
  }
  .author__web {
    flex: 1;
    display: flex;
    align-items: left;
    justify-content: left;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .main__container__titulo {
    font-size: 30px;
  }

  .author__img {
    width: auto;
  }
}
header {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", italic;
}

.encabezado {
  position: relative;
}

.main_container {
  background: url("../images/post-image.jpg") no-repeat;
  background-size: cover;
  background-size: 100%;
  min-height: 800px;
  margin: auto;
}

.main__container__titulo {
  font-family: "Playfair Display", italic;
  color: #fff;
  font-weight: 900;
  font-size: 70px;
  margin: 100px auto;
  font-style: italic;
}

.fa-angle-double-down {
  position: absolute;
  left: 50%;
  top: 75%;
  color: #fff;
  font-size: 60px;
}

@media only screen and (max-width: 600px) {
  .encabezado .main__container {
    min-height: 0;
  }
  .encabezado .fa-angle-double-down {
    bottom: 30%;
    font-size: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .encabezado .main_container_titulo {
    font-size: 30px;
    min-height: 0;
  }
  .encabezado .fa-angle-double-down {
    position: absolute;
    left: 50%;
    top: 85%;
    color: #fff;
    font-size: 30px;
  }
}
@media only screen and (min-width: 600px) {
  .encabezado .main_container_titulo {
    font-size: 40px;
    min-height: 0;
  }
  .encabezado .fa-angle-double-down {
    position: absolute;
    left: 50%;
    top: 45%;
    color: #fff;
    font-size: 40px;
  }
}
@media only screen and (min-width: 768px) {
  .encabezado .main_container_titulo {
    font-size: 50px;
  }
  .encabezado .fa-angle-double-down {
    position: absolute;
    left: 50%;
    top: 55%;
    color: #fff;
    font-size: 50px;
  }
}
@media only screen and (min-width: 992px) {
  .encabezado .main_container_titulo {
    font-size: 60px;
    min-height: 0;
  }
  .encabezado .fa-angle-double-down {
    left: 50%;
    top: 75%;
    color: #fff;
    font-size: 60px;
  }
}
@media only screen and (min-width: 1200px) {
  .encabezado .main_container_titulo {
    font-size: 70px;
    min-height: 0;
  }
}

.final {
  background-color: #121619;
}

.final_logo {
  text-align: center;
  width: 10%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.boton {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.boton_compartir {
  background-color: #6c6e70;
  padding: 10px;
  color: #d1d1d1;
  border-radius: 25px;
  width: auto;
}
.boton_compartir:hover {
  background-color: #d76c69;
  color: #d1d1d1;
}
.boton_comentar {
  background-color: #6c6e70;
  padding: 12px;
  color: #d1d1d1;
  border-radius: 25px;
  width: auto;
}
.boton_comentar:hover {
  background-color: #d76c69;
  color: #d1d1d1;
}

.boton {
  /* Extra small devices (phones, 600px and down) */
}
@media only screen and (min-width: 600px) {
  .boton {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  .boton__comparte {
    align-items: flex-start;
  }
  .boton__comenta {
    align-items: flex-end;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .main__container__titulo {
    font-size: 30pt;
  }
}
.navbar {
  background-color: #121619;
}

a.navbar-brand {
  display: inline-block;
  width: 30%;
}

.navbar_logo {
  display: inline-block;
  width: 20%;
}

.nav-item:hover {
  background-color: #6c6e70;
  color: #fff;
  border-radius: 50%;
  border-image-width: 30px;
}

.pag-bar {
  background-color: #e6e7e7;
  height: 150px;
}
.pag-bar_item {
  padding-top: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.pag-bar_items {
  color: #121619;
}
.pag-bar_items-next {
  color: #121619;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
.pag-bar_items-display {
  color: #6c6e70;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.pag-bar_items-display:hover {
  background-color: #6c6e70;
  color: #fff;
}
.pag-bar_items-next:hover {
  background-color: #6c6e70;
  color: #fff;
}
.pag-bar_items:hover {
  background-color: #6c6e70;
  color: #fff;
}

/*# sourceMappingURL=main.css.map */
